apiVersion: apps/v1
kind: Deployment
metadata:
  name: {yourname}-deployment
  namespace: {yourname}-demo-namespace
spec:
  replicas: 3
  selector:
    matchLabels:
      app: {yourname}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {yourname}
    spec:
      containers:
        image: k8s.gcr.io/echoserver:1.4
        imagePullPolicy: Always
        name: server
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 1500m
            memory: 1568Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
